In [544]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from  more_itertools import unique_everseen
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn import preprocessing
from sklearn import metrics

Преподаватель: Алексей Кузьмин

    Использовать dataset MovieLens
    Построить рекомендации (регрессия, предсказываем оценку) на фичах:

    TF-IDF на тегах и жанрах
    Средние оценки (+ median, variance, etc.) пользователя и фильма

    Оценить RMSE на тестовой выборке

In [425]:
movies = pd.read_csv('/home/benito/Desktop/Введение и классификация рекомендательных систем/Архив/movies.csv')
ratings = pd.read_csv('/home/benito/Desktop/Введение и классификация рекомендательных систем/Архив/ratings.csv')
tags = pd.read_csv('/home/benito/Desktop/Введение и классификация рекомендательных систем/Архив/tags.csv')

In [426]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [427]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [428]:
tags.head()

   userId  movieId              tag   timestamp
0       2    60756            funny  1445714994
1       2    60756  Highly quotable  1445714996
2       2    60756     will ferrell  1445714992
3       2    89774     Boxing story  1445715207
4       2    89774              MMA  1445715200

В таблице с тегами надо создать колонку с тегами, записанными в строку

In [429]:
tags_series=tags.groupby([tags['userId'],tags['movieId']])['tag'].apply(list)

In [430]:
new_tags=[]
for i in range(len(tags)):
    user=tags['userId'].iloc[i]
    movie=tags['movieId'].iloc[i]
    ts=tags_series[user,movie]
    new_tags.append(ts)

In [431]:
tags['new_tags']=new_tags

In [432]:
tags['new_tags']=tags['new_tags'].apply(lambda row: str(row))

In [433]:
del tags['tag']
del tags['timestamp']

In [434]:
tags=tags.drop_duplicates()

In [435]:
tags.head()

    userId  movieId                                           new_tags
0        2    60756       ['funny', 'Highly quotable', 'will ferrell']
3        2    89774               ['Boxing story', 'MMA', 'Tom Hardy']
6        2   106782  ['drugs', 'Leonardo DiCaprio', 'Martin Scorsese']
9        7    48516                                   ['way too long']
10      18      431                 ['Al Pacino', 'gangster', 'mafia']

Таблиы tags, movies, ratings соединим по двум ключам: userId, movieId

In [436]:
tags_raitings=pd.merge(tags, ratings, on=['userId','movieId'])

In [437]:
movies_tags_raitings=pd.merge(tags_raitings, movies, on='movieId')

In [438]:
del movies_tags_raitings['timestamp']

In [439]:
def good_str(a):
    b=a.replace('[','')
    c=b.replace(']','')
    d=c.replace(', ',' ')
    e=d.replace('|',' ')
    return e

In [440]:
movies_tags_raitings['tags']=movies_tags_raitings['new_tags'].apply(lambda row: good_str(row))

In [441]:
del movies_tags_raitings['new_tags']

In [442]:
movies_tags_raitings['genres']=movies_tags_raitings['genres'].apply(lambda row: good_str(row))

In [443]:
movies_tags_raitings.head()

,userId,movieId,rating,title,genres,tags
0,2,60756,5.0,Step Brothers (2008),Comedy,'funny' 'Highly quotable' 'will ferrell'
1,62,60756,3.5,Step Brothers (2008),Comedy,'comedy' 'funny' 'will ferrell'
2,424,60756,4.0,Step Brothers (2008),Comedy,'funny' 'will ferrell'
3,2,89774,5.0,Warrior (2011),Drama,'Boxing story' 'MMA' 'Tom Hardy'
4,2,106782,5.0,"Wolf of Wall Street, The (2013)",Comedy Crime Drama,'drugs' 'Leonardo DiCaprio' 'Martin Scorsese'

Применим tfidf к тегам и жанрам

In [444]:
tfidf = TfidfVectorizer()

In [445]:
genres_tfidf=tfidf.fit_transform(movies_tags_raitings['genres'])

In [446]:
tfidf.vocabulary_

{'comedy': 4,
 'drama': 7,
 'crime': 5,
 'thriller': 21,
 'war': 22,
 'mystery': 16,
 'documentary': 6,
 'action': 0,
 'sci': 20,
 'fi': 9,
 'imax': 13,
 'adventure': 1,
 'children': 3,
 'fantasy': 8,
 'animation': 2,
 'horror': 12,
 'romance': 19,
 'musical': 15,
 'western': 23,
 'film': 10,
 'noir': 18,
 'no': 17,
 'genres': 11,
 'listed': 14}

In [447]:
genres_tfidf=genres_tfidf.toarray()

In [448]:
genres_tfidf.shape

(1635, 24)

In [449]:
tags_tfidf=tfidf.fit_transform(movies_tags_raitings['tags'])

In [450]:
tfidf.vocabulary_

{'funny': 597,
 'highly': 705,
 'quotable': 1222,
 'will': 1677,
 'ferrell': 549,
 'comedy': 321,
 'boxing': 198,
 'story': 1447,
 'mma': 999,
 'tom': 1553,
 'hardy': 674,
 'drugs': 465,
 'leonardo': 890,
 'dicaprio': 419,
 'martin': 949,
 'scorsese': 1332,
 'stock': 1441,
 'market': 946,
 'wall': 1641,
 'street': 1454,
 'way': 1653,
 'too': 1554,
 'long': 909,
 'suspense': 1483,
 'twist': 1586,
 'ending': 495,
 'undercover': 1593,
 'cop': 345,
 'atmospheric': 112,
 'jack': 813,
 'nicholson': 1062,
 'al': 46,
 'pacino': 1120,
 'gangster': 607,
 'mafia': 932,
 'holocaust': 722,
 'true': 1578,
 'anthony': 84,
 'hopkins': 729,
 'courtroom': 355,
 'drama': 458,
 'britpop': 206,
 'indie': 776,
 'record': 1243,
 'label': 874,
 'music': 1036,
 'dumpster': 469,
 'diving': 437,
 'sustainability': 1485,
 'bloody': 179,
 'bromance': 211,
 'james': 819,
 'franco': 583,
 'seth': 1351,
 'rogen': 1281,
 'black': 172,
 'hole': 718,
 'sci': 1327,
 'fi': 553,
 'time': 1543,
 'travel': 1569,
 'bad': 131,
 'dialogue': 417,
 'philosophical': 1151,
 'issues': 809,
 'thought': 1533,
 'provoking': 1204,
 'visually': 1635,
 'appealing': 89,
 'fantasy': 536,
 'magic': 934,
 'board': 183,
 'game': 604,
 'robin': 1279,
 'williams': 1678,
 'beautiful': 147,
 'scenery': 1321,
 'epic': 506,
 'historical': 712,
 'inspirational': 788,
 'medieval': 968,
 'mel': 970,
 'gibson': 625,
 'oscar': 1113,
 'best': 158,
 'cinematography': 294,
 'revenge': 1260,
 'sword': 1492,
 'fight': 556,
 'scotland': 1333,
 'christina': 287,
 'ricci': 1264,
 'christopher': 290,
 'lloyd': 905,
 'dark': 391,
 'family': 535,
 'gothic': 641,
 'andy': 73,
 'garcia': 609,
 'classic': 302,
 'francis': 582,
 'ford': 576,
 'coppola': 346,
 'quirky': 1221,
 'macaulay': 926,
 'culkin': 377,
 'sequel': 1349,
 'animation': 79,
 'disney': 435,
 'original': 1110,
 'pixar': 1161,
 'hanks': 670,
 'ancient': 68,
 'rome': 1290,
 'history': 713,
 'imdb': 764,
 'top': 1555,
 '250': 9,
 'russell': 1298,
 'crowe': 371,
 'romans': 1288,
 'ed': 479,
 'harris': 678,
 'jude': 847,
 'law': 881,
 'rachel': 1225,
 'weisz': 1661,
 'sniper': 1395,
 'world': 1694,
 'war': 1645,
 'ii': 757,
 'hilary': 708,
 'swank': 1488,
 'insomnia': 787,
 'violent': 1631,
 'dogs': 445,
 'eric': 508,
 'bana': 135,
 'mad': 930,
 'scientist': 1329,
 'marvel': 950,
 'captain': 247,
 'nemo': 1057,
 'comic': 322,
 'book': 190,
 'peta': 1148,
 'wilson': 1680,
 'sean': 1339,
 'connery': 334,
 'superhero': 1474,
 'adventure': 37,
 'angelina': 75,
 'jolie': 839,
 'heroine': 703,
 'in': 769,
 'tight': 1539,
 'suit': 1469,
 'ensemble': 501,
 'cast': 256,
 'great': 646,
 'soundtrack': 1410,
 'lord': 912,
 'of': 1092,
 'the': 1524,
 'rings': 1270,
 'scenic': 1323,
 'stylized': 1463,
 'tolkien': 1551,
 'tolkein': 1550,
 'hilarious': 707,
 'steve': 1437,
 'carell': 248,
 'stupid': 1460,
 'awesome': 124,
 'anime': 80,
 'cyberpunk': 382,
 'matrix': 956,
 'jim': 833,
 'carrey': 250,
 'meryl': 979,
 'streep': 1453,
 'adam': 26,
 'sandler': 1310,
 'sweet': 1490,
 'british': 205,
 'confusing': 332,
 'daniel': 390,
 'craig': 357,
 'exquisite': 527,
 'plotting': 1167,
 'organized': 1109,
 'crime': 366,
 'stylish': 1462,
 'hayao': 686,
 'miyazaki': 998,
 'studio': 1457,
 'ghibli': 621,
 '06': 0,
 'nominated': 1074,
 'movie': 1024,
 'netflix': 1060,
 'queue': 1218,
 'david': 394,
 'thewlis': 1529,
 'eva': 515,
 'green': 647,
 'liam': 895,
 'neeson': 1054,
 'orlando': 1111,
 'bloom': 180,
 'chris': 284,
 'evans': 516,
 'jessica': 832,
 'alba': 48,
 'sexy': 1357,
 'female': 547,
 'helena': 694,
 'bonham': 189,
 'carter': 251,
 'johnny': 835,
 'depp': 409,
 'tim': 1541,
 'burton': 227,
 'clever': 306,
 'fast': 539,
 'paced': 1119,
 'good': 635,
 'robert': 1278,
 'downey': 454,
 'jr': 845,
 'witty': 1687,
 'audrey': 115,
 'tautou': 1502,
 'conspiracy': 335,
 'theory': 1527,
 'mystery': 1038,
 'paris': 1130,
 'treasure': 1571,
 'hunt': 752,
 'brad': 200,
 'pitt': 1160,
 'cate': 258,
 'blanchett': 173,
 'multiple': 1031,
 'storylines': 1449,
 'social': 1399,
 'commentary': 324,
 'ben': 153,
 'stiller': 1440,
 'emma': 491,
 'thompson': 1531,
 'maggie': 933,
 'gyllenhaal': 662,
 'modern': 1003,
 'romance': 1287,
 'surreal': 1480,
 'marion': 944,
 'cotillard': 352,
 'africa': 40,
 'corruption': 349,
 'jennifer': 829,
 'connelly': 333,
 'justice': 851,
 'acting': 22,
 'jokes': 838,
 'plot': 1166,
 'ryan': 1300,
 'reynolds': 1263,
 'lion': 902,
 'narnia': 1044,
 'tilda': 1540,
 'swinton': 1491,
 'script': 1337,
 'charlize': 269,
 'theron': 1528,
 'smith': 1394,
 'anne': 81,
 'hathaway': 683,
 'stoner': 1443,
 'audience': 114,
 'intelligence': 792,
 'underestimated': 1594,
 'boring': 193,
 'chick': 277,
 'flick': 570,
 'overrated': 1118,
 'teen': 1510,
 'adrien': 33,
 'brody': 209,
 'con': 329,
 'artists': 99,
 'interesting': 795,
 'characters': 267,
 'mark': 945,
 'ruffalo': 1295,
 'bill': 165,
 'murray': 1035,
 'stone': 1442,
 'jesse': 831,
 'eisenberg': 486,
 'woody': 1692,
 'harrelson': 677,
 'cgi': 263,
 'cheesy': 274,
 'dc': 397,
 'comics': 323,
 'space': 1413,
 'happy': 673,
 'hot': 736,
 'actress': 25,
 'justin': 852,
 'timberlake': 1542,
 'mila': 987,
 'kunis': 871,
 'new': 1061,
 'york': 1698,
 'city': 296,
 'sex': 1354,
 'istanbul': 810,
 'predictable': 1188,
 'turkey': 1581,
 'unnecessary': 1602,
 'action': 23,
 'christoph': 289,
 'waltz': 1642,
 'performances': 1145,
 'humour': 750,
 'quentin': 1217,
 'tarantino': 1501,
 'samuel': 1308,
 'jackson': 816,
 'western': 1665,
 'amy': 67,
 'adams': 27,
 'radcliffe': 1227,
 'zoe': 1704,
 'kazan': 856,
 'but': 232,
 'anti': 85,
 'intellectual': 791,
 'writing': 1695,
 'dystopia': 472,
 'society': 1401,
 'holes': 719,
 'scifi': 1330,
 'unintelligent': 1597,
 'macfarlane': 928,
 'post': 1181,
 'apocalyptic': 88,
 'survival': 1482,
 'thriller': 1535,
 'unexplained': 1596,
 'weak': 1654,
 'hero': 700,
 'gun': 658,
 'fu': 592,
 'keanu': 857,
 'reeves': 1244,
 'secret': 1340,
 'killer': 862,
 'widows': 1674,
 'widowers': 1673,
 'humor': 748,
 'ironic': 804,
 'short': 1368,
 'stories': 1446,
 'dr': 456,
 'strange': 1451,
 'villain': 1629,
 'guardians': 654,
 'galaxy': 602,
 'mcu': 963,
 'thanos': 1523,
 'thor': 1532,
 'stunning': 1459,
 'emotional': 492,
 'sad': 1302,
 'kurt': 872,
 'tension': 1517,
 'building': 224,
 'lawrence': 883,
 'love': 918,
 'nonsense': 1078,
 'politics': 1174,
 'rebellion': 1240,
 'revolution': 1261,
 'kingsley': 865,
 'ethics': 512,
 'immortality': 767,
 'batman': 141,
 'affleck': 38,
 'harley': 675,
 'quinn': 1220,
 'ass': 104,
 'horrible': 731,
 'directing': 428,
 'jared': 822,
 'leto': 893,
 'joker': 837,
 'lack': 876,
 'margot': 942,
 'robbie': 1277,
 'poor': 1176,
 'poorly': 1177,
 'gal': 601,
 'gadot': 600,
 'superman': 1475,
 'wonderwoman': 1691,
 'dicarpio': 420,
 'striking': 1455,
 'creative': 361,
 'freedom': 586,
 'individualism': 777,
 'viggo': 1627,
 'mortensen': 1016,
 'tactics': 1496,
 'hitman': 716,
 'heroic': 701,
 'bloodshed': 178,
 'future': 598,
 'jon': 840,
 'hamm': 667,
 'dwayne': 471,
 'johnson': 836,
 'mcadams': 959,
 'alicia': 53,
 'vikander': 1628,
 'video': 1625,
 'adaptation': 28,
 'josh': 842,
 'brolin': 210,
 'sarcasm': 1311,
 'emilia': 490,
 'clarke': 300,
 'star': 1431,
 'wars': 1647,
 'engrossing': 498,
 'oldie': 1098,
 'goodie': 636,
 'darth': 392,
 'vader': 1613,
 'luke': 923,
 'skywalker': 1386,
 'opera': 1105,
 'non': 1075,
 'linear': 900,
 'cult': 378,
 'film': 561,
 'hit': 714,
 'men': 975,
 '1990s': 7,
 'achronological': 21,
 'packed': 1121,
 'aggressive': 43,
 'amazing': 60,
 'dialogues': 418,
 'anthology': 83,
 'assassin': 105,
 'language': 877,
 'bible': 161,
 'biblical': 162,
 'references': 1245,
 'big': 163,
 'boys': 199,
 'with': 1685,
 'guns': 660,
 'name': 1042,
 'actors': 24,
 'blood': 177,
 'splatters': 1423,
 'bruce': 217,
 'willis': 1679,
 'brutality': 219,
 'casual': 257,
 'violence': 1630,
 'character': 266,
 'development': 414,
 'coke': 313,
 'conversation': 342,
 'cool': 343,
 'style': 1461,
 'scene': 1320,
 'scrubbing': 1338,
 'dance': 388,
 'dancing': 389,
 'different': 423,
 'diner': 424,
 'disjointed': 434,
 'timeline': 1544,
 'disturbing': 436,
 'drug': 464,
 'overdose': 1117,
 'entertaining': 504,
 'entirely': 505,
 'episodic': 507,
 'exciting': 523,
 'noir': 1072,
 'foul': 579,
 'fun': 596,
 'gangsters': 608,
 'genius': 617,
 'golden': 632,
 'watch': 1650,
 'gore': 639,
 'gritty': 652,
 'harvey': 682,
 'keitel': 858,
 'heroin': 702,
 'homosexuality': 725,
 'iconic': 755,
 'innovative': 783,
 'intelligent': 793,
 'intense': 794,
 'intertwining': 797,
 'interwoven': 798,
 'irony': 805,
 'john': 834,
 'travolta': 1570,
 'as': 103,
 'protagonist': 1203,
 'los': 914,
 'angeles': 74,
 'masterpiece': 953,
 'meaningless': 965,
 'milkshake': 989,
 'mobster': 1000,
 'mobsters': 1001,
 'monologue': 1006,
 'motherfucker': 1018,
 'neo': 1058,
 'nonlinear': 1077,
 'narrative': 1046,
 'storyline': 1448,
 'notable': 1084,
 'offensive': 1094,
 'organised': 1108,
 'out': 1115,
 'order': 1107,
 'palme': 1125,
 'or': 1106,
 'parody': 1133,
 'pop': 1178,
 'culture': 379,
 'psychological': 1207,
 'pulp': 1212,
 'content': 339,
 'including': 771,
 'rape': 1233,
 'images': 760,
 'graphic': 645,
 'sexuality': 1356,
 'some': 1405,
 'strong': 1456,
 'sustained': 1486,
 'random': 1230,
 'retro': 1258,
 'roger': 1282,
 'avary': 121,
 'royal': 1292,
 'cheese': 273,
 'satire': 1312,
 'smart': 1393,
 'sophisticated': 1408,
 'splatter': 1422,
 'buscemi': 229,
 'storytelling': 1450,
 'uma': 1589,
 'thurman': 1538,
 'unique': 1599,
 'unpredictable': 1604,
 'unusual': 1606,
 'very': 1622,
 'everything': 518,
 'you': 1699,
 'want': 1643,
 'is': 807,
 'here': 698,
 'alan': 47,
 'rickman': 1266,
 'harry': 680,
 'potter': 1183,
 'humorous': 749,
 'wizards': 1688,
 'age': 42,
 'kids': 861,
 'robots': 1280,
 'feel': 546,
 'murder': 1033,
 'police': 1172,
 'kevin': 859,
 'costner': 350,
 'irreverent': 806,
 'jay': 824,
 'and': 69,
 'silent': 1374,
 'bob': 184,
 'religion': 1249,
 'based': 138,
 'on': 1101,
 'brutal': 218,
 'controversial': 340,
 'goretastic': 640,
 'alternate': 58,
 'reality': 1239,
 'science': 1328,
 'fiction': 554,
 'mindfuck': 992,
 'surprise': 1479,
 'cruel': 374,
 'threesome': 1534,
 'sexual': 1355,
 'embarassing': 489,
 'scenes': 1322,
 '80': 12,
 'crude': 373,
 'vulgar': 1639,
 'sofia': 1402,
 '1970s': 5,
 'suicide': 1468,
 'cusack': 380,
 'ewan': 521,
 'mcgregor': 962,
 'renee': 1254,
 'zellweger': 1702,
 'jackie': 814,
 'chan': 265,
 'kung': 870,
 'something': 1406,
 'for': 574,
 'everyone': 517,
 'this': 1530,
 'one': 1103,
 'saw': 1316,
 'it': 811,
 'without': 1686,
 'plan': 1162,
 'seeing': 1343,
 'jean': 826,
 'reno': 1255,
 'assassination': 106,
 'assassins': 107,
 'awkward': 125,
 'french': 588,
 'friendship': 590,
 'gary': 612,
 'oldman': 1099,
 'lolita': 906,
 'theme': 1526,
 'loneliness': 907,
 'luc': 920,
 'besson': 157,
 'natalie': 1048,
 'portman': 1180,
 'tense': 1516,
 'touching': 1558,
 'training': 1565,
 'espionage': 509,
 'ludlum': 922,
 'test': 1520,
 'tag': 1497,
 'golf': 633,
 'white': 1671,
 'nolan': 1073,
 'directorial': 429,
 'debut': 404,
 'not': 1083,
 'hugh': 743,
 'jackman': 815,
 'psychology': 1208,
 'backwards': 130,
 'memory': 974,
 'cerebral': 262,
 'dreamlike': 459,
 'artwork': 102,
 'end': 494,
 'mecha': 966,
 'gintama': 626,
 'remaster': 1252,
 'hallucinatory': 666,
 'mental': 977,
 'illness': 758,
 'enigmatic': 499,
 'philosophy': 1152,
 'weird': 1660,
 'sentimental': 1348,
 'india': 773,
 'wave': 1652,
 'surfing': 1477,
 'ummarti2006': 1590,
 'high': 704,
 'school': 1325,
 'many': 940,
 'moldy': 1004,
 'old': 1097,
 'navy': 1051,
 'chef': 275,
 'rat': 1235,
 'hope': 728,
 'japan': 821,
 'tv': 1584,
 'show': 1370,
 'mathematics': 955,
 'zombies': 1706,
 'depressing': 410,
 'firefly': 567,
 'favelas': 543,
 'narrated': 1045,
 'abuse': 18,
 'reciprocal': 1242,
 'spectator': 1417,
 'childish': 279,
 'naivity': 1041,
 'bechdel': 149,
 'fail': 531,
 'cartoon': 252,
 'children': 280,
 'computer': 327,
 'divorce': 438,
 'dreams': 460,
 'bittersweet': 169,
 'heartbreaking': 690,
 'pisstake': 1159,
 'american': 62,
 'idolatry': 756,
 'coen': 312,
 'brothers': 216,
 'jeff': 827,
 'bridges': 203,
 'matt': 957,
 'damon': 386,
 'celebrity': 260,
 'fetishism': 552,
 'mediacentralism': 967,
 'system': 1495,
 'holism': 720,
 'italy': 812,
 'political': 1173,
 'right': 1268,
 'versus': 1620,
 'left': 889,
 'creature': 363,
 'feature': 545,
 'documentary': 442,
 'industry': 779,
 'remix': 1253,
 'poetic': 1168,
 'representation': 1256,
 'animated': 78,
 'score': 1331,
 'heavy': 692,
 'metal': 980,
 'mockumentary': 1002,
 'goofy': 638,
 'nick': 1063,
 'hornby': 730,
 'journalism': 844,
 'rolling': 1286,
 'knights': 868,
 'highschool': 706,
 'boksdrama': 185,
 'wapendrama': 1644,
 'sisters': 1382,
 'college': 317,
 'restaurant': 1257,
 'transvestite': 1568,
 'bros': 215,
 'george': 620,
 'clooney': 310,
 'malkovich': 938,
 'twists': 1588,
 'turns': 1582,
 'paul': 1137,
 'rudd': 1294,
 'seen': 1344,
 'more': 1012,
 'than': 1521,
 'once': 1102,
 'jane': 820,
 'austen': 116,
 'shakespeare': 1359,
 'updated': 1608,
 'classics': 303,
 'ghosts': 623,
 'see': 1342,
 'dead': 399,
 'people': 1144,
 'android': 71,
 'cyborg': 383,
 'artificial': 97,
 'steven': 1438,
 'spielberg': 1420,
 'bette': 159,
 'davis': 395,
 'lesbian': 892,
 'subtext': 1465,
 'christian': 285,
 'bale': 132,
 'casey': 253,
 'morgan': 1013,
 'freeman': 587,
 'afghanistan': 39,
 'propaganda': 1201,
 'military': 988,
 'terrorism': 1519,
 'remake': 1251,
 'serial': 1350,
 'tricky': 1574,
 'heist': 693,
 'addiction': 29,
 'wahlberg': 1640,
 'nudity': 1086,
 'full': 595,
 'frontal': 591,
 'cynical': 384,
 'independent': 772,
 'generation': 616,
 'psychedelic': 1205,
 'apocalypse': 87,
 'arnold': 93,
 'schwarzenegger': 1326,
 'nuclear': 1085,
 'kidnapping': 860,
 'edward': 481,
 'norton': 1081,
 'priest': 1195,
 'expression': 526,
 'alfred': 52,
 'hitchcock': 715,
 'suspenseful': 1484,
 'norman': 1080,
 'bates': 140,
 'remade': 1250,
 'horror': 732,
 'stanley': 1429,
 'kubrick': 869,
 'stephen': 1436,
 'king': 864,
 'juliette': 849,
 'lewis': 894,
 'de': 398,
 'niro': 1069,
 'heartwarming': 691,
 'paranoid': 1128,
 'artsy': 101,
 'existentialism': 525,
 'insanity': 785,
 'paranoia': 1127,
 'creepy': 364,
 'scary': 1318,
 'demons': 407,
 'snl': 1397,
 'racism': 1226,
 'nicolas': 1064,
 'cage': 235,
 'martial': 948,
 'arts': 100,
 'universe': 1600,
 'adult': 35,
 'free': 585,
 'speech': 1418,
 'south': 1411,
 'park': 1131,
 'trey': 1573,
 'parker': 1132,
 'challenging': 264,
 'chuck': 291,
 'palahniuk': 1123,
 'complicated': 325,
 'consumerism': 336,
 'fincher': 565,
 'double': 451,
 'life': 898,
 'fighting': 557,
 'imaginary': 761,
 'friend': 589,
 'mind': 991,
 'blowing': 181,
 'topless': 1556,
 'palahnuik': 1124,
 'postmodern': 1182,
 'powerful': 1186,
 'satirical': 1313,
 'schizophrenia': 1324,
 'societal': 1400,
 'criticism': 369,
 'obsession': 1089,
 'secrets': 1341,
 'europe': 514,
 'asylum': 109,
 'brittany': 207,
 'murphy': 1034,
 'hospital': 734,
 'winona': 1683,
 'ryder': 1301,
 'claustrophobic': 304,
 'bowie': 195,
 'mindless': 993,
 'liners': 901,
 'rob': 1275,
 'zombie': 1705,
 'jake': 818,
 'play': 1165,
 'ptsd': 1210,
 'claymation': 305,
 'fairy': 532,
 'tale': 1499,
 'budget': 222,
 'wife': 1675,
 'alter': 57,
 'ego': 484,
 'illusions': 759,
 'overcomplicated': 1116,
 'absorbing': 16,
 'morality': 1011,
 'uplifting': 1609,
 'metaphorical': 981,
 'annoying': 82,
 'myth': 1039,
 'cambodia': 237,
 'human': 746,
 'rights': 1269,
 'procedural': 1198,
 'pregnancy': 1190,
 'president': 1193,
 'hollywood': 721,
 'alcoholism': 50,
 'teacher': 1503,
 'animal': 77,
 'pigs': 1158,
 'nonexistent': 1076,
 'needed': 1053,
 'death': 403,
 'penalty': 1142,
 'nun': 1087,
 'twins': 1585,
 'england': 497,
 'wedding': 1657,
 'adoption': 31,
 'prostitution': 1202,
 'jekyll': 828,
 'hyde': 753,
 'theater': 1525,
 'off': 1093,
 'beat': 145,
 'muppets': 1032,
 'dating': 393,
 'moon': 1009,
 'nasa': 1047,
 'michael': 984,
 'crichton': 365,
 'submarine': 1464,
 'computers': 328,
 'made': 931,
 'me': 964,
 'cry': 375,
 'stop': 1445,
 'looking': 911,
 'at': 110,
 'swan': 1487,
 'ireland': 803,
 'business': 230,
 'basketball': 139,
 'france': 580,
 'infertility': 780,
 'australia': 117,
 'beethoven': 152,
 'einstein': 485,
 'court': 354,
 'louisa': 917,
 'may': 958,
 'alcott': 51,
 'girl': 627,
 'power': 1185,
 'christmas': 288,
 'prison': 1197,
 'disability': 430,
 'marriage': 947,
 'wrongful': 1696,
 'imprisonment': 768,
 'enterprise': 502,
 'coma': 320,
 'weddings': 1658,
 'cross': 370,
 'dressing': 462,
 'drag': 457,
 'clancy': 299,
 'grisham': 651,
 'interracial': 796,
 'shrimp': 1371,
 'vietnam': 1626,
 'bubba': 220,
 'gump': 657,
 'lieutenant': 897,
 'dan': 387,
 'does': 444,
 'gambling': 603,
 'bus': 228,
 'spies': 1421,
 'edith': 480,
 'wharton': 1667,
 ...}

In [451]:
tags_tfidf=tags_tfidf.toarray()

In [452]:
tags_tfidf.shape

(1635, 1708)

In [458]:
tags_tfidf = pd.DataFrame(data=tags_tfidf)
genres_tfidf = pd.DataFrame(data=genres_tfidf)

In [460]:
tfidf=pd.concat([tags_tfidf,genres_tfidf],axis=1)

In [487]:
data=pd.concat([tfidf,movies_tags_raitings],axis=1)

Посчитаем медианные оценки для каждого пользователя и фильма

In [489]:
median_rating_user=data['rating'].groupby(data['userId']).median()

In [490]:
median_rating_movie=data['rating'].groupby(data['movieId']).median()

In [491]:
data['median_rating_user']=data['userId'].apply(lambda row: median_rating_user[row])

In [492]:
data['median_rating_movie']=data['movieId'].apply(lambda row: median_rating_movie[row])

Разделим данные на параметры и таргет

In [493]:
y=data['rating']

In [494]:
X=data

In [501]:
del X['userId']
del X['movieId']
del X['title']
del X['tags']
del X['rating']
del X['genres']

Рейтиги похожи на классы. После tfidf очень много колонок с пустотами, удобнее использовать дерево решений.

In [532]:
le = preprocessing.LabelEncoder()
le.fit(y)
y=le.transform(y)

In [542]:
print(y.max(),', ',y.min())

9 ,  0

Надо предсказать метку класса. Всего классов 9

In [507]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [523]:
tree = DecisionTreeClassifier()

In [535]:
tree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [537]:
y_pred=tree.predict(X_test)

In [545]:
metrics.accuracy_score(y_pred,y_test)

0.8287461773700305